body {
	margin: 0;
	padding: 0;
	font-size: 0;
}





/* 

Position

absolute
takes it out of the flow of the document and palaces exactly where you want it to show up

relative 
show up relative to where it would show up in the document but then allowing us to modify it
let's us modify where the div shows up in the normal flow of the document and let's us make a slight adjusment

fixed


 */